@import "../lib/styles/default.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.bui-preview > .bui-layout {
  &-header {
    box-shadow: 0 2px 8px #f0f1f2;
  }
  &-footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  & > .bui-layout-sider {
    border-right: 1px solid $border-color;
    padding: 20px 30px;
    & li{
      margin-top: 10px;
      & a:hover{
        color: $main-color;
      }
    }
  }

  & > .bui-layout-content{
    padding: 20px 30px;
  }
}
