@import "../lib/styles/default.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.bui-preview{
  min-height: 100vh;
}

.bui-preview > .bui-layout {
  &-header {
    box-shadow: 0 2px 8px #f0f1f2;
  }
  &-footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .bui-layout-sider {
    border-right: 1px solid $border-color;
    ul {
      margin: 10px 0;
    }
    li {
      a {
        display: block;
        padding: 5px 30px;
      }
      a:hover {
        color: $main-color;
      }
      a.active {
        background: #e6f7ff;
        border-right: 5px solid $main-color;
        color: $main-color;
      }
    }
  }

  & > .bui-layout-content {
    padding: 20px 30px;
  }
}
